.backarrowEnd {
    height: 25px;
    cursor: pointer;
    margin-top: 2%;
}

.closex {
    height: 20px;
    cursor: pointer;   
    margin-top: -20px;
}

.alignBottom {
    vertical-align: bottom;
}

.frage5 {
    color: #202020;
    cursor: default;
    margin-top: 2.5%;
    font-size: 17px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%;
    margin-right: 3%;
}


.sliderContainer {
    width: 250px;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    color: #202020;
}

.sliderpass::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 7px;
    box-shadow: -405px 0 0 400px rgb(54, 54, 54);
    cursor: pointer;
}

.sliderpass {
    width: 250px;
    height: 15px;
    appearance: none;
    background: #e9e9e9;
    outline: black;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
  
#rangeValuePass {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    width: 50%;
    font-size: 1em;
    color: #fff;
    background-color: #202020;
    margin-left: 15px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    isnet -5px -5px 5px rgba(255, 255, 255, 0.25);
}
  
#sliderlabels {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    cursor: default;
    margin-top: 38px;
}
  
#sliderlabels span {
    display:inline-block;
    font-weight: 500;
    height: 57px;
}

.nächstefragebuttonSlider2 {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    transition: all 0.6s;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    font-weight: 500;
    width: 90px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5%;
    margin-left: 70%;
    margin-top: 0px;
}

.nächstefragebuttonSlider2:hover {
  color: rgb(0, 0, 0);
  border-color: rgb(54, 54, 54);
  background-color: #fff;
}

.poweredby {
    font-size: 13px;
    color: rgb(65, 65, 65);
    margin-top: -32px;
    font-weight: 400;
    cursor: default;
}

.span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}